


/* .about-photo img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 16px;
  box-shadow: 
    0 6px 15px rgba(0, 0, 0, 0.25),
    0 0 15px rgba(138, 43, 226, 0.15); /* soft purple glow */



/* .about-photo img:hover {
  transform: scale(1.03);
  box-shadow: 
    0 10px 25px rgba(0, 0, 0, 0.3),
    0 0 25px rgba(138, 43, 226, 0.25);
}  */
ul.custom-dash li::marker {
  content: "# ";
  color: rgb(89, 165, 165);
}
/* .add-image{
  background: url('../images/image.png') no-repeat center;
  border-radius: 16px;
} */


