@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {

    background: linear-gradient(90deg, #000000, #030c0d);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #9eb1bd;

}
.homepage{
    background: linear-gradient(90deg, #000000, #030c0d);

}

.font-pop {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@keyframes shimmer {
  0% {
    background-position: -500px 0;
  }
  100% {
    background-position: 500px 0;
  }
}

.shimmer-text {
  background: linear-gradient(
    90deg,
    #181717 0%,
    #bbbbbb 50%,
    #dbdbdb 80%,
    #f0efef 100%
  );
  background-size: 1000px 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shimmer 6s infinite linear;
}

.tagline {
  color: #fff;
  font-size: 1.2rem;
  border-bottom: 2px solid #92fe9d;
  display: inline-block;
  padding-bottom: 4px;
}
/* .navbg{
    background: linear-gradient(to right, #1a1a40, #13132B) no-repeat ;

} */

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes bounceY {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
.navbar .nav-link {
  color: #a7a9ac !important; /* Tailwind's gray-300 */
}
.navbar .nav-link:hover {
  /* color : rgb(221, 218, 218)!important; */
  color: #c492fe !important;
  border-bottom: 1px solid #c492fe;
}

.fix-nav {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  background: radial-gradient(circle at top left, #1a1a40, #0d0d1a);
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  */
}

.add-flex {
  display: flex !important;
  align-items: center;
  gap: 20px;
}

.git-btn {
  /* background: linear-gradient(135deg, #8e2de2, #4a00e0, #00c9ff, #92fe9d); */
  background: linear-gradient(135deg, #06beb6, #9f6ad9);

  background-size: 300% 300%;
  color: white;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.git-btn:hover {
  transform: scale(1.08);
  box-shadow: 0 2px 10px rgba(0, 200, 255, 0.5);
}

.navbar{
  background: linear-gradient(90deg, #000000, #030c0d);

}